:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #f2539d;
  }
  
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  .profile-footer {
    text-align: center;
    position: fixed;
    inset: auto 0 0 0;
    padding: 1em;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  @import "~bootstrap/scss/bootstrap";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear; */
  }


.card {
  padding: 2em;
}

.header {
  background: rgb(43, 43, 44);
  height: 106px;
  font-size: 200px;
  border-radius: 5px;
}

.header h1 {
  margin: 0;
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 60px;
}
.navbar {
  background: #8cddcc;
  height: 50px;
  justify-content: flex-end;
  border-radius: 5px;
}

.navbar a {
  color: rgb(35, 134, 143);
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
  border-radius: 5px;
 
}

.navItem {
  margin-right: 10px;
  }

.navItem:hover {
  background-color: rgb(35, 134, 143);
  color: white;
  border-radius: 5px;
  }
  .section {
    background: #030303eb;
    padding: 20px;
    border-radius: 10px;
    min-height: 500px;
  }
  
  .section h2 {
    text-align: center;
    color: rgb(198, 194, 195);
  }
  
  @import "~bootstrap/scss/bootstrap";


